<div class="shimmer-backdrop"></div>
  <form class="shimmer-form" *ngFor="let ele of arr">
  <mat-form-field class="shimmer-form-field shine">
    <mat-label>Enter Details</mat-label>
    <input matInput >
  </mat-form-field>

  <mat-form-field class="shimmer-form-field shine">
    <mat-label>Enter Details</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-form-field class="shimmer-form-field shine">
   <mat-label>Enter Details</mat-label>
  <mat-select>
  </mat-select>
</mat-form-field>
</form>


